:root {
  --black: #242d49;
  --glass: rgba(255, 255, 255, 0.54);
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.dashboard {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardGlass {
  display: grid;
  height: auto;
  width: 97%;
  background: white;
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 0rem;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .dashboardGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .dashboardGlass {
    grid-template-columns: 1fr;
  }
}
