.profile img {
  border: 2px black solid;
  border-radius: 50%;
}

.profile .sec-1,
.sec-2 {
  padding: 4px;
  display: flex;
  justify-content: center;
}

.sec-2 .icon {
  margin-left: 5px;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 1px;
}
