@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.twitter-logo {
  position: relative;
  box-sizing: border-box;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
}

.twitter-logo:hover {
  background-color: #0c7abf;
}

.twitter-logo i {
  top: -2px;
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent 0 0 no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

.twitter-logo span {
  margin-left: 3px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
  top: -5px;
  position: relative;
}

#mocha {
  width: 100%;
}

#mocha .test h2 {
  font-size: 16px !important;
}

#mocha .test a.replay {
  display: none !important;
}

#mocha-report pre {
  overflow: auto;
}

#mocha-stats {
  display: none;
}

.sc__wrapper {
  margin-top: 70px;
  background: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

#sc-container {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

#sc-container > img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#sc-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Findy */

#findy,
#story {
  background: lightyellow;
  background-size: 20% auto;
  font-family: sans-serif;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
}

p span {
  font-weight: 900;
}

.grass {
  width: 1vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: green;
  background: linear-gradient(to bottom, forestgreen 75%, olive);
  background-size: 100% auto;
  box-shadow: 0 0 10px black;
  border-radius: 100% 100% 0 0;
  transform-origin: center bottom;
  pointer-events: none;
  animation: sway 8s linear infinite;
}
@keyframes sway {
  25% {
    transform: skewX(3deg);
  }
  75% {
    transform: skewX(-3deg);
  }
}

.animal {
  position: absolute;
  cursor: default;
  user-select: none;
  z-index: -1 !important;
}

.animal.highlight {
  z-index: 3 !important;
  border-bottom: 2px solid gray;
}

#findy .found {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.ql-container.ql-disabled h3,
.ql-container.ql-disabled ol,
.ql-container.ql-disabled ul,
.ql-container.ql-disabled pre.ql-syntax {
  font-size: 20px !important;
}
.public-intern-image {
  box-shadow: 0 0 13px 3px white;
}

.ql-editor {
  max-height: calc(100vh - 400px);
  overflow: auto;
}

.quill-preview .ql-editor {
  max-height: unset;
}
